<div class="player-name-links">
  <div class="row no-gutters">
    <% @players.each_with_index do |player, i| %>
      <% if i%5 == 0 %>
        </div>
        <div class="row no-gutters">
      <% end %>
      <div class="col-md" align="center">
        <%= link_to "##{player.number} #{player.name.split(' ').last}", team_manager.team_player_path(player.team, player), class: 'link-barium' %>
      </div>
    <% end %>
  </div>
</div>
