<h1>Contact Barium</h1>

<h3 class="mt-3">Head Coach: Anna DeForge</h3>
<p class="mb-0">email: <%= mail_to 'anna@annadeforge.com', 'anna@annadeforge.com' %></p>
<p class="mt-0">phone: (602) 614-9985</p>
