<% content_for :no_container do %>
  <div class="text-center home-page-image">
    <div class="image-container">
      <%= image_tag 'team_picture.jpg', width: '100%' %>
    </div>
  </div>

  <%= render partial: 'player_links_home_page', locals: { players: @players } %>

  <% if @players %>
    <div class="row home-page-players justify-content-around m-2">
      <div class="col-md-9">
        <div class="row">
          <% @players.each do |player| %>
            <%= render partial: 'player_panel', locals: { player: player } %>
          <% end %>
        </div>

      </div>
      <div class="col-md-3 mt-2 barium-twitter">
        <a href="https://twitter.com/BariumbyDeForge?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @BariumbyDeForge</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a class="twitter-timeline" data-height="1000" href="https://twitter.com/BariumbyDeForge?ref_src=twsrc%5Etfw">Tweets by BariumbyDeForge</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <div class="clearfix"></div>
      </div>
    </div>
  <% end %>
<% end %>
