<h1>Our Story</h1>

<div class="grid">
  <% @site_photos.each do |site_photo| %>
    <div class="grid-item">
      <%= image_tag site_photo.image.url, class: 'our-story-image' %>
    </div>
  <% end %>
  <div class="clearfix"></div>
</div>

<div class="row my-3">
  <% if user_signed_in? %>
    <%= link_to 'Manage Photos', team_manager.site_site_photos_path, class: 'btn btn-primary' %>
  <% end %>
</div>
