@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Lato|Raleway');

$navy-blue: #002245;
$yellow: #ffdb2f;
$gray: #cccccc;
$light-gray: #e4e4e4;
$slate-gray: #63768a;
$nav-height-home-lg: 200px;
$nav-height: 70px;

body {
  font-family: 'Lato', sans-serif;
  // font-family: 'Raleway', sans-serif;
}

header {
  background-color: $navy-blue;
  color: $yellow;
  // border-bottom: 1px $gray solid;
  a {
    color: $yellow;
    &:hover {
      color: $gray;
    }
  }
}

nav {
  color: $yellow;
  background-color: $navy-blue;
  border-bottom: 1px $gray solid;
  a {
    font-size: 18px;
    color: $yellow;
    &:hover {
      color: $gray;
      text-decoration: none;
    }
  }
}

.barium {
  background-color: $navy-blue;
  color: $yellow;
}

@media (min-width: 767.98px) {
  .nav-height-home {
    height: $nav-height-home-lg;
  }
}

@media (max-width: 767.98px) {
  .nav-height-home {
    height: $nav-height;
  }
}

.nav-height {
  height: $nav-height;
}

footer {
  border-top: 2px $gray solid;
  background-color: $light-gray;
}

.breadcrumbs {
  padding: 5px 0;
}

.notification {
  color: #fff;

  .notice {
    padding: .5em 0;
    background-color: #28a745
  }
  .alert {
    padding: .5em 0;
    background-color: #dc3545
  }
}

.font-script {
  font-family: 'Great Vibes', cursive;
}

.player-name-links {
  background-color: $navy-blue;
  border-bottom: 1px $gray solid;
  padding: 10px 50px 10px 50px;
  .btn-barium {
    color: $navy-blue;
    background-color: $yellow;
    margin-top: 10px;
    &:hover {
      color: $navy-blue;
      background-color: $yellow;
      border-color: $gray;
    }
  }
  a.link-barium {
    padding: 3px;
    color: $yellow;
    &:hover {
      color: $gray;
      text-decoration: none;
    }
  }
}

.home-page-image {
  border-bottom: 1px $gray solid;
}

.twitter-timeline {
  height: 300px;
}

.home-page-players {
  img {
    max-width: 100%;
    max-height: 100%;
    display:block;
    margin:auto;
  }
  .player-photo-container {
    img {
      border: 5px $yellow solid;
      border-radius: 10px;
    }
  }
}

.player-panel {
  .info {
    h5 {
      color: $navy-blue;
      font-weight: 900;
    }
    a {
      color: $navy-blue;
    }
    p {
      color: $slate-gray;
      margin: 0px;
    }
  }
}

.team-player-profile {
  .right-panel {
    background-image: image-url('barium_logo_faded.png');
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card-header {
    background-color: $navy-blue;
    color: $yellow;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    display:block;
    margin:auto;
  }
}

.barium-by-deforge-script {
  color: $slate-gray;
  font-size: 20px;
}

.barium-bg {
  background-image: image-url('barium_bg.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.our-story-image {
  display: inline-block;
  float: left;
}
