@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Lato|Raleway');

$navy-blue: #002245;
$yellow: #ffdb2f;
$gray: #cccccc;
$light-gray: #e4e4e4e4;
$slate-gray: #63768a;

body {
  font-family: 'Lato', sans-serif;
  // font-family: 'Raleway', sans-serif;
}

nav {
  a {
    color: $yellow;
    &:hover {
      color: $gray;
    }
  }
}

.breadcrumbs {
  padding: 5px 0;
}

.notification {
  color: #fff;

  .notice {
    padding: .5em 0;
    background-color: #28a745
  }
  .alert {
    padding: .5em 0;
    background-color: #dc3545
  }
}

.font-script {
  font-family: 'Great Vibes', cursive;
}

.player-name-links {
  background-color: $navy-blue;
  .player-name {
    margin-left: 10px;
  }
  .btn-barium {
    color: $yellow;
    background-color: $navy-blue;
    border-color: $yellow;
    &:hover {
      color: $navy-blue;
      background-color: $yellow;
      border-color: $gray;
    }
  }
}

.barium {
  background-color: $navy-blue;
  color: $yellow;
}

.team-player-profile {
  .right-panel {
    background-image: image-url('barium_logo_faded.png');
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card-header {
    background-color: $navy-blue;
    color: $yellow;
  }
}

.barium-by-deforge-script {
  color: $slate-gray;
  font-size: 40px;
}

.barium-bg {
  background-image: image-url('barium_bg.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.home-page-image {
  box-shadow: 0 0 60px 30px $gray;
}
