$navy-blue: #002245;
$yellow: #ffdb2f;
$gray: #cccccc;
$light-gray: #e4e4e4e4;

body {

}

nav {
  a {
    color: $yellow;
    &:hover {
      color: $gray;
    }
  }
}

.barium {
  background-color: $navy-blue;
  color: #fff;
}

.barium-by-deforge-script {
  background-image: image-url('barium_by_anna_deforge_30_trans.png');
  background-repeat: no-repeat;
  background-position: right 5px;
  padding: 10px;
}

.barium-bg {
  background-image: image-url('barium_bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  // height: 250px;
}

.home-page-image {
  box-shadow: 0 0 60px 30px $gray;
}
