<% @home_page ||= false %>
<% nav_height_class = @home_page ? 'nav-height-home' : 'nav-height' %>

<header class="py-1">
  <div class="float-left p-2 <%= nav_height_class %>">
    <%= link_to main_app.root_path do %>
      <%= image_tag 'barium_logo_transparent_bg.png', height: '100%' %>
    <% end %>
  </div>
  <div class="float-right <%= nav_height_class %>" style="position: relative; width: 250px">
    <div class="col-12 font-script text-right" >
      <span class="float-right font-script barium-by-deforge-script d-none d-md-inline-block">Barium by Anna DeForge</span>
      <button class="navbar-toggler collapsed d-md-none d-lg-none d-xl-none" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="clearfix"></div>
</header>

