<nav class="site-header barium py-1 barium-by-deforge-script">
  <div class="float-left">
    <%= link_to root_path do %>
      <%= image_tag 'barium_logo_transparent_bg', width: "150" %>
    <% end %>
  </div>
  <div class="float-right">
    <div class="col-12" style="height: 50px;"></div>
    <div class="col-12">
      <a class="px-2 d-none d-md-inline-block" href="#">About</a>
      <a class="px-2 d-none d-md-inline-block" href="#">Contact</a>
    </div>
  </div>
  <div class="clearfix"></div>
</nav>
